.app {
    text-align: center;
    background: ghostwhite;
    min-height: 100vh;
}

.app-header {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 3vmin);
    background: rebeccapurple;
    color: white;
}

.app-logo {
    width: calc(10px + 5vmin);
    margin-right: 1vw;
}

.app-color {
    color: rebeccapurple;
}

.app-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

p {
    margin-top: 10vh;
}