.weatherApp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar {
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchBarInput {
    width: 70vw;
    height: 5vh;
    padding-left: 20px;
    font-size: calc(8px + 1vmin);
    border: 1px solid dimgray;
    border-radius: 20px 0 0 20px;
}

.searchBarInput:focus {
    outline: none;
    box-shadow: 0px 0px 10px 5px #a3a3a3;
}

.searchBarInput:hover {
    box-shadow: 0px 0px 10px 5px #cfcece;
}

.searchButton {
    height: calc(5vh + 4px);
    width: 10vw;
    padding: 5px 10px 5px 10px;
    margin-left: -1px;
    font-size: calc(8px + 1vmin);
    border: 1px solid dimgray;
    border-radius: 0 20px 20px 0;
    background: rebeccapurple;
    color: white;
}

.searchButton:focus {
    outline: none;
}

.searchButton:hover {
    box-shadow: 0px 0px 15px 5px #a3a3a3;
}

.searchButton:active {
    box-shadow: inset 0px 0px 10px 5px #686767;
}

.weather {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
}

.weatherOverview {
    background: white;
    border-radius: 20px;
    margin: 20px;
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.weatherOverviewFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.currentTemp {
    font-weight: bold;
    font-size: calc(8px + 2vmin);
    color: rebeccapurple;
}

.cityName {
    font-weight: bold;
    font-size: calc(8px + 2vmin);
    color: rebeccapurple;
    margin-right: 20px;
}

.date {
    margin: 10px;
}

.weatherIcons {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.weatherIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 20px;
    margin: 10px;
}

.weatherIconValue {
    color: purple;
    font-weight: bold;
    margin-top: 5px;
}

.weatherIconImg {
    height: 80px;
    width: 80px;
    margin-bottom: 5px;
    pointer-events: none;
}

.weatherIconImgLarge {
    height: 20vh;
    width: 20vh;
    margin-bottom: 5px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .weatherIconImg {
        animation: weather-icon-img-float infinite 5s ease-in-out;
    }
    .weatherIconImgLarge {
        animation: weather-icon-img-float infinite 5s ease-in-out;
    }
}

@keyframes weather-icon-img-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0px)
    }
}
